<div class="container">
  <h1 class="title has-text-centered has-text-weight-bold is-size-1 has-text-primary">Articles</h1>  
  <div class="columns is-desktop is-multiline">
    <%= render @figures %>
  </div>
  <div class= "container">
    <%== pagy_bulma_nav(@pagy) %>
  </div>  
</div>
