<h1 class="title has-text-centered has-text-weight-bold is-size-1 has-text-primary"> <%= @figure.title %> </h1>

<figure class="image is-528x328">
  <%= image_tag figure.first.image_url.to_s %>
</figure>
<div class="container">
  <%= @figure.text %>
</div>
<%= link_to('Back', figures_path, class: 'button is-primary has-text-centered') %>