<div class="container">
    <p class="has-text-weight-bold is-size-4">Welcome to Blog App! This is your spot... Feel free.</p> <br>
    <div class="">
    <img src="
    ./app/assets/images/xmas.jpg" class="img-resposive"%>
    </div>
    <div class="container">
        <%= link_to('Last Articles', figures_path, class: 'button is-primary') %>
    </div>
</div>
