<div class="container">
    <p class="has-text-weight-bold is-size-4 mt-3">Welcome to Blog App! This is your spot... Feel free.</p> <br>
    
    <%= image_tag ("https://images.pexels.com/photos/717988/pexels-photo-717988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=740"), class: "img-responsive"%>
    
    <div class="container has-text-centered">
        <%= link_to('Last Articles', figures_path, class: 'button is-primary is-large mb-5') %>
    </div>
</div>
