
<div class="">
    <h1 class="">Blog App</h1>
    <p class="">Welcome to Blog App! This is your spot... Feel free.</p> <br>
    <div class="">
        <%= link_to 'My Blog', controller: 'figures', class: 'button is-primary' %>
    </div>
</div>
