<div class="navbar is-primary" role='navigation' aria-label="main navigation">
    <div id="navbarBasicExample" class='navbar-menu'>
    
    <div class="navbar-start m-0 p-0">
        <p className="has-text-centered">Copyright &copy; 2020 All Rights Rereserved <bold class="">Carlos SSH</bold> </p>
    </div>
    
    <div class="navbar-end">
        <%= render "subscribers/subs" %>
    </div>
    </div>
</div>

